<div *ngIf="hero" class="hero-detail">

<!--- <h2>{{hero.name  | uppercase }}</h2>
<div><span>name: </span>{{hero.name}}</div>

 <div>
  <label><span>name:</span>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>
 --->
 <h3>Informations générales</h3>
 <div>
  <label><span>www:  </span> <a href={{hero.url}} target="_blank">{{hero.url}} </a></label><br>
  <label><span>Adresse:  </span> {{hero.address}}</label><br>
  <label><span>Téléphone:  </span> {{hero.tel}}</label>  
</div>
 <h3>Repas par la compagnie Eldora</h3>
 <div>
  <a href="http://college-nyon.eldora.ch/fr/accueil.html"  target="_blank">http://college-nyon.eldora.ch/fr/accueil.html</a>
</div>
</div>

