<div *ngIf="hero" class="hero-detail">

<!--- <h2>{{hero.name  | uppercase }}</h2>
<div><span>name: </span>{{hero.name}}</div>

 <div>
  <label><span>name:</span>
    <input [(ngModel)]="hero.name" placeholder="name"/>
  </label>
</div>
 --->
 <h3>Informations générales</h3>
 <div>
   <div *ngIf="hero.url">  <label><span>www:  </span> <a href={{hero.url}} target="_blank">{{hero.url}} </a></label><br></div>
   <label><span>Adresse:  </span> {{hero.address}}</label><br>
   <label><span>Téléphone:  </span> <a href="tel:{{hero.tel}}" target="_blank">{{hero.tel}} </a></label>  <br>
   <div *ngIf="hero.email"> <label><span>email: </span> <a href="{{hero.email}}">{{hero.email}}</a></label></div>  
   <div *ngIf="hero.menu"> <label><span>Menu Repas: </span> <a href="{{hero.menu}}"  target="_blank">{{hero.menu}}</a></label></div>
 </div>
</div>

